.whole-footer {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background: linear-gradient(#1F2830, #1f3647);
}

div .footer {
  margin: 38px 10px 0 0;
  padding: 0;
  list-style-type: none;
  float: left;


}
div .footer li {
  margin: 0;
  padding: 0;
  float: left;
}
div .footer li a {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: block;
  margin: 0 90px 12px 150px;

}
div .footer li a:hover {
  color: #FFAA39;
}



div .footer2 {
  margin: 38px 10px 0 0;
  padding: 0;
  list-style-type: none;
  float: left;
}
div .footer2 li {
  margin: 0;
  padding: 0;
  float: right;
}
div .footer2 li a {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: block;
  margin: 0 90px 12px 150px;

}
div .footer2 li a:hover {
  color: #FFAA39;
}
