
nav {
  /* position: fixed; */
  width: 100%;
  top: 0;
  height: 109px;
  padding: 0;
  margin: 0;
  background: linear-gradient(lightblue, skyblue);
  overflow: hidden;


  /* url(/images/Logo.png) no-repeat; */
}
nav .logo {
  position: absolute;
  left: 0;
  top: 31px;
}
nav .menu {
  margin: 38px 0 0 0;
  padding: 0;
  list-style-type: none;
  float: right;
}
nav .menu li {
  margin: 0;
  padding: 0;
  float: left;
}
nav .menu li a {
  color: #0b4c6e;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: block;
  margin: 0 9px 0 10px;

}
nav .menu li a:hover {
  color: #148ccb;
}
