/* div {
  opacity: 1;
}


div:onhover {
  opacity: 0.5;
} */

.sc1{
  background-color: #F9EAD5
}

.human-img{
  /* background: url("./Human_BW.png"); */
  position: relative;
  /*display:inline;*/
  /*transition: 0.5s;*/
  /* width: 450px;
  background-color: white */
}

.moveleft{
  transform: translateX(-492px);
}

.whole_human{
  opacity: 1;
}

.organ-svg{
  opacity:0.1;
  transition: 0.2s;
}

.organ-svg:hover{
  opacity:1;
}



.human-img:hover{
  opacity: 1;
  transition: 2s;
  /* transform: translateX(-1000px); */
}

.inline-img{
  display:inline;
  position: absolute;
  left:14.5%;
  top: 29.1%;
  left:712px;
  top: 212px;
}

/*.inline-img:hover{
  opacity:1;
}
*/


.outline{
  opacity:1 !important;
}







.image-relative-top{
  height: 650px;
  width: 450px;
  /*position: relative;*/
}

.image-relative{
  position: relative;
}

/*
.image_hover_bg{
  /* background: url("./Human_BW.png"); */
  /* position: absolute; */
  /* display:none;
  display:inline;
}


.human-img{
  opacity: 0;
  display:none;
  position: absolute;
}

.image_hover_bg:hover{
}

.human-img:hover{
  opacity: 1;
  display:inline;
} */





#Brain {
  height: 50px;
  width: 45px;
  top: 20px;
  left: 183px;
}


/* #all > ul {
	    	list-style: none;
	    	float: left; width: 200px;
	    	padding: 0 10px 0 0;
	    }
	    #all a {
			text-decoration: none;
			display: block;
			padding: 10px;
			background: #900;
			border-radius: 20px;
			color: white;
			text-align: center;
			margin: 0 0 5px 0;

			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
	    }
	    #all:hover a {
			opacity: 0.2;
	    }
	    #all:hover ul:hover a {
			opacity: 0.5;
	    }
	    #all:hover ul:hover a:hover {
			opacity: 1;
	    } */
