body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #1F2830; /*linear-gradient(to bottom left, lightblue, skyblue);*/
  height: 1000px;
  font-family: "Lucida Sans Unicode", serif, "Times New Roman";
  color: #FFFFFF;
}

body2 {
  background: #66B8F2,#B8DBF4;
}


.line-seperator{
  border: 0.5px solid rgb(255,255,255);
}

.background-body {
    padding-top: 50px;
    padding-bottom: 50px;
    /*background-color: #2e4a60;*/
    background: linear-gradient(#1F2830, #1f3647);
    text-align: center;
}


.background-body2 {
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(#ccd9e2, #edf1f4);
    /*background-color: #edf1f4;*/
    text-align: center;
    color: #000000;
}

.background-body3 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1F2830;
    text-align: center;
}

.background-body4 {
    padding-top: 50px;
    padding-bottom: 150px;
    background-color: #dddddd;
    text-align:  justify;
    color: #000000;
}

.background-body4-noalign {
    padding-top: 5px;
    padding-bottom: 0px;
    background-color: #edf1f4;
    text-align: center;
    color: #000000;
}


@media (min-width: 0) {
    .page-title, .page-title2 {
        padding-top: calc(8.68056pxvw + 50px);
        padding-bottom: calc(8.68056pxvw + 50px);
    }
}

@media (min-width: 576) {
    .page-title, .page-title2 {
        padding-top: calc(8.01282vw + 53.84615px);
        padding-bottom: calc(8.01282vw + 53.84615px);
    }
}

@media (min-width: 1200px) {
    .page-title, .page-title2 {
        padding-top: 150px;
        padding-bottom: 150px;
    }
  }

.App {
  text-align: center;
}

.colour-white {
	padding-top: 15px;
	color: #FFFFFF;

}

.centre {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:-1
}


.App-logo {

  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 2px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
